body {
  background-color: #F8F9FA !important;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  padding: 0 !important;
}

nav,
a {
  padding: 0 !important;
}

.navbar {
  padding: 0 !important;
}

.navbar-brand {
  margin-right: 40px !important;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

.nav-link {
  margin-right: 20px !important;
}

.elogo {
  transform: scale(0.7);
}

.App-link {
  color: #61dafb;
}

.about {
  width: 70%;
  margin: 20px auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-weight: bolder;
}

.toogleButton {
  margin-left: 50px;
  margin-top: 30px;
}

.about p {
  padding: 20px 0;
}

.login {
  font-weight: bold !important;
}

.home {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-weight: bold;
  /* font-size: 20px; */
}

.header {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder
}

.jumbotron {
  background-color: #A5BECC !important;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 4% 0;
}

.footer {
  width: 100%;
  background-color: #243A73;
  font-family: 'Montserrat', sans-serif;
  bottom: 0;
  color: #F2EBE9;
}

.btn-social-icon {
  margin: 0 5px!important;
}

.carouselImage {
  width: 50%;
  height: 80vh;
}

.Carousel {
  font-family: 'Montserrat', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}